.marquee__content {
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-left {
  animation-name: scroll-left;
}

.marquee-right {
  animation-name: scroll-right;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(calc(-100% - 1rem));
  }
  to {
    transform: translateX(0);
  }
}

