<section class="bg-secondary w-full h-auto lg:px-20 px-6   relative ">
    <div class="w-full h-full justify-end bg-amber-500">
   <img src="/src/assets/img/Pattern.png" alt="background"
        class="absolute inset-0 h-full w-full object-cover z-1 object-right pointer-events-none" />
        </div>

        <!-- parrent conten -->
    <div class="w-full flex md:flex-row flex-col md:justify-between justify-center items-center">
        
        <!-- hero image -->
        <div class="md:block hidden lg:w-[350px] md:w-[340px] w-[200px] h-auto relative ">
            <img src="/src/assets/img/Hero.png" alt="">
            <div class="md:hidden absolute bottom-0 left-0 w-full h-40 bg-gradient-to-t from-secondary to-transparent"></div>

        </div>

        <!-- article -->
        <div 
         data-aos="fade-zoom-in"
        data-aos-duration="1000"
        data-aos-easing="ease-in"
        data-aos-once="false"
        data-aos-anchor-placement="top-center"
        class="space-y-4 md:w-[60%] w-full py-10">
            <h1 class="text-yellow md:text-left text-center font-bold md:text-3xl text-xl font-lexend">
                EcoTera membantu <br class="md:block hidden"> produk anda untuk Tersertifikasi halal
            </h1>
            <p class="text-white font-urbanist md:text-left text-center md:text-base text-xs">
                EcoTera adalah platform yang menghubungkan pelaku UMKM, khususnya di bidang makanan dan minuman, dengan layanan konsultasi halal yang dapat dilakukan secara daring maupun luring. Kami menyediakan pendampingan menyeluruh, mulai dari proses awal hingga usaha Anda berhasil mendapatkan sertifikat halal, sehingga Anda tidak perlu bingung lagi dalam menghadapi proses sertifikasi. Selain itu, EcoTera juga memperhatikan apakah standar produksi usaha Anda telah sesuai dengan prinsip-prinsip ramah lingkungan sebagai bentuk dukungan terhadap penghijauan dan keberlanjutan.
            </p>
            <div class="flex md:flex-row flex-col md:justify-baseline   items-center gap-4">
                <button class="bg-primary hover:bg-Green-400  cursor-pointer transition-colors duration-300 ease-out z-11 text-white font-bold font-lexend px-4 w-auto py-2 rounded-lg md:text-base text-[.8rem]">
               Hubungi Kami
            </button>

            <!-- social media -->
            <div class="flex gap-4 items-center">
                <img class="w-[30px] hover:scale-110 transition-transform duration-300 ease-in-out cursor-pointer h-auto" src="/src/assets/icon/Instagram.svg" alt="">
                <img class="w-[30px] hover:scale-110 transition-transform duration-300 ease-in-out cursor-pointer h-auto" src="/src/assets/icon/Twitter.svg" alt="">
                <img class="w-[30px] hover:scale-110 transition-transform duration-300 ease-in-out cursor-pointer h-auto" src="/src/assets/icon/Facebook.svg" alt="">
            </div>
            </div>
        </div>
    </div>
</section>