<section class="bg-white py-16 px-4 sm:px-6 lg:px-20">
  <!-- Judul -->
  <h2 class="text-center text-2xl sm:text-3xl font-bold font-lexend text-black mb-16">
     Bagaimana Prosesnya?
  </h2>

  <div class="relative max-w-6xl mx-auto space-y-28">
    <!-- Garis tengah (hanya desktop) -->
    <div class="hidden md:block absolute top-0 left-1/2 transform -translate-x-1/2 w-[4px] h-full bg-gray-300 z-0"></div>

    <!-- LANGKAH 1 -->
    <div class="relative flex flex-col-reverse md:flex-row items-center gap-10 md:gap-16">
      <div class="absolute -top-7 left-1/2 transform -translate-x-1/2 w-12 h-12 bg-primary text-white text-2xl font-bold flex items-center justify-center rounded-full z-10 shadow-md">1</div>

      <!-- Text -->
      <div 
       data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-easing="ease-in"
        data-aos-anchor-placement="top-center"
        data-aos-once="false"
        data-aos-anchor-placement="center-center"
      class="w-full md:w-1/2">
        <h3 class="md:text-2xl text-xl font-bold font-lexend text-primary mb-4 text-center md:text-left">Menghubungi Konsultan</h3>
        <ul class="space-y-4 font-urbanist font-semibold">
          <li class="bg-primary text-white text-sm p-4 rounded-lg">Anda menghubungi konsultan yang sudah dipilih sebelumnya</li>
          <li class="bg-primary text-white text-sm p-4 rounded-lg">Melakukan pembayaran sesuai dengan nominal yang tertera</li>
          <li class="bg-primary text-white text-sm p-4 rounded-lg">Konsultasikan terkait produk yang anda hasilkan agar sesuai dengan standar produk halal</li>
        </ul>
      </div>

      <!-- Gambar -->
      <div 
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in"
        data-aos-anchor-placement="top-center"
        data-aos-once="false"
        data-aos-anchor-placement="center-center"
      class="w-full md:w-1/2 flex justify-center">
        <img src="/src/assets/icon/proses1.png" alt="Proses 1" class="w-50 mt-5 md:w-72 h-auto object-contain" />
      </div>
    </div>

    <!-- LANGKAH 2 -->
    <div class="relative flex flex-col-reverse md:flex-row-reverse items-center gap-10 md:gap-16">
      <div class="absolute -top-7 left-1/2 transform -translate-x-1/2 w-12 h-12 bg-primary text-white text-2xl font-bold flex items-center justify-center rounded-full z-10 shadow-md">2</div>

      <!-- Text -->
      <div 
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in"
        data-aos-anchor-placement="top-center"
        data-aos-once="false"
        data-aos-anchor-placement="center-center"
      class="w-full md:w-1/2">
        <h3 class="md:text-2xl text-xl font-bold font-lexend text-primary mb-4 text-center md:text-right">Mengisi Formulir Perusahaan</h3>
        <ul class="space-y-4 font-urbanist font-semibold">
          <li class="bg-primary text-white text-sm p-4 rounded-lg">Anda diharuskan mengisi formulir perusahaan untuk kelengkapan data dalam proses sertifikasi nantinya</li>
          <li class="bg-primary text-white text-sm p-4 rounded-lg">Menyesuaikan dan memastikan bahwa produk serta bahan baku yang digunakan memiliki logo halal pada kemasannya</li>
          <li class="bg-primary text-white text-sm p-4 rounded-lg">Menyesuaikan dan memastikan bahwa tata cara produksi sudah sesuai dengan standar kebersihan serta keamanan lingkungan</li>
        </ul>
      </div>

      <!-- Gambar -->
      <div 
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-easing="ease-in"
        data-aos-anchor-placement="top-center"
        data-aos-once="false"
        data-aos-anchor-placement="center-center"
      class="w-full md:w-1/2 flex justify-center">
        <img src="/src/assets/icon/proses2.png" alt="Proses 2" class="w-50 mt-5 md:w-72 h-auto object-contain" />
      </div>
    </div>

    <!-- LANGKAH 3 -->
    <div class="relative flex flex-col-reverse md:flex-row items-center gap-10 md:gap-16">
      <div class="absolute -top-7 left-1/2 transform -translate-x-1/2 w-12 h-12 bg-primary text-white text-2xl font-bold flex items-center justify-center rounded-full z-10 shadow-md">3</div>

      <!-- Text -->
      <div 
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-easing="ease-in"
        data-aos-anchor-placement="top-center"
        data-aos-once="false"
        data-aos-anchor-placement="center-center"
      class="w-full md:w-1/2">
        <h3 class="md:text-2xl text-xl font-bold font-lexend text-primary mb-4 text-center md:text-left">Bimbingan Sampai Tersertifikasi</h3>
        <ul class="space-y-4 font-urbanist font-semibold">
          <li class="bg-primary text-white text-sm p-4 rounded-lg">Anda akan melalui berbagai proses untuk memenuhi persyaratan produk agar tersertifikasi halal</li>
          <li class="bg-primary text-white text-sm p-4 rounded-lg">Anda akan dibimbing dan konsultan akan membantu menjawab dan membimbing Anda pada jam kerja</li>
          <li class="bg-primary text-white text-sm p-4 rounded-lg">Anda akan mendapatkan sertifikat halal dalam kurun waktu satu bulan untuk produk Anda</li>
        </ul>
      </div>

      <!-- Gambar -->
      <div 
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in"
        data-aos-anchor-placement="top-center"
        data-aos-once="false"
        data-aos-anchor-placement="center-center"
      class="w-full md:w-1/2 flex justify-center">
        <img src="/src/assets/icon/proses3.png" alt="Proses 3" class="w-50 mt-5 md:w-72 h-auto object-contain" />
      </div>
    </div>
  </div>
</section>
