<header class="bg-white shadow-md w-full">
    <nav class="container px-24 py-4">
        <div class="flex items-center justify-between">
            <div class="text-xl font-bold text-red-500">UMKM</div>
            <div class="hidden md:flex space-x-6">
                <a href="../pages/index.html" class="text-gray-700 hover:text-gray-900">Beranda</a>
                <a href="../pages/tentang.html" class="text-gray-700 hover:text-gray-900">Tentang</a>
                <a href="../pages/layanan.html" class="text-gray-700 hover:text-gray-900">Layanan</a>
                <a href="../pages/kontak.html" class="text-gray-700 hover:text-gray-900">Kontak</a>
            </div>
        </nav>
    </div>
</header> 