<section class="lg:px-10 px-6 w-full h-auto py-22 bg-white space-y-16">
    <div class="flex w-full items-center justify-center">
        <h1 class="font-lexend md:text-3xl text-2xl font-bold text-center md:text-nowrap">Didukung dan Bekerja Sama Dengan</h1>
    </div>
    <div 
      data-aos="fade-in"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
        data-aos-anchor-placement="top-center"
        data-aos-once="false"
        data-aos-anchor-placement="center-center"
    class="flex gap-14 justify-center items-center flex-wrap ">
        <div class="h-[70px] w-auto shrink-0 mb-2">
            <img class="w-full h-full object-contain" src="/src/assets/img/PartnerLogo/BPJPH.png" alt="">
        </div>
        <div class="h-[90px] w-auto shrink-0">
            <img class="w-full h-full object-contain" src="/src/assets/img/PartnerLogo/MUI.png" alt="">
        </div>
        <div class="h-[90px] w-auto shrink-0">
            <img class="w-full h-full object-contain" src="/src/assets/img/PartnerLogo/lph.png" alt="">
        </div>
        <div class="h-[100px] w-auto shrink-0">
            <img class="w-full h-full object-contain" src="/src/assets/img/PartnerLogo/LPSDMH.png" alt="">
        </div>
        <div class="h-[100px] w-auto shrink-0">
            <img class="w-full h-full object-contain" src="/src/assets/img/PartnerLogo/TEC.png" alt="">
        </div>
        <div class="h-[100px] w-auto shrink-0">
            <img class="w-full h-full object-contain" src="/src/assets/img/PartnerLogo/LPH-H.png" alt="">
        </div>
        <div class="h-[90px] w-auto shrink-0">
            <img class="w-full h-full object-contain" src="/src/assets/sponsor/sponsor1.png" alt="">
        </div>
    </div>

</section>