<section class="w-full h-auto md:px-20 px-4 py-10">
<div class="md:space-y-18 space-y-10">
    <!-- header section -->
  <div class="space-y-2 flex flex-col justify-center items-center">
    <h1
    class="text-center text-wrap md:max-w-[500px] max-w-[400px] md:text-4xl text-2xl font-semibold font-lexend"
    >
    Manfaat sertifikat HALAL untuk bisnis anda.
  </h1>
  <p class="text-center font-urbanist text-gray-400">
    Sertifikat Halal, Bisnis Makin Aman!
  </p>
</div>
  <div class="flex lg:flex-row  flex-col w-full justify-center items-center md:gap-25 gap-16">

  <!-- icon1 -->
   <div class="space-y-4 flex flex-col justify-center items-center max-w-[380px]">
    <img class="scale-110" src="src/assets/icon/Person.svg" alt="icon1">
    <h1 class="text-2xl font-bold text-slate-700 text-center">Kepatuhan<br>Regulasi</h1> 
     <p class="text-center font-urbanist text-gray-500">Sertifikasi Halal menunjukkan bahwa bisnis Anda peduli terhadap kualitas, transparansi, dan tanggung jawab sosial.</p>
    </div>

  <!-- icon2 -->
   <div class="space-y-4 flex flex-col justify-center items-center max-w-[380px]">
    <img class="scale-110" src="src/assets/icon/city.svg" alt="icon1">
    <h1 class="text-2xl font-bold text-slate-700 text-center">Pasar Yang <br>Luas</h1> 
     <p class="text-center font-urbanist text-gray-500">Sertifikasi Halal membantu bisnis Anda menjangkau pasar yang lebih luas dan membangun kepercayaan konsumen yang lebih kuat.</p>
    </div>

  <!-- icon3 -->
   <div class="space-y-4 flex flex-col justify-center items-center max-w-[380px]">
    <img class="scale-110" src="src/assets/icon/Hand.svg" alt="icon1">
    <h1 class="text-2xl font-bold text-slate-700 text-center">Meningkatkan Kepercayaan</h1> 
     <p class="text-center font-urbanist text-gray-500">Sertifikasi Halal memberikan jaminan kepada konsumen sehingga kepercayaan terhadap bisnis Anda tumbuh secara signifikan.</p>
    </div>

    </div>
   </div>
   
</section>
