<section class="relative bg-[#023235] py-9 ">
    <img src="../assets/img/Clip.png" alt="background"
        class="absolute inset-0 w-full h-full object-cover pointer-events-none" />

    <div class="px-4 relative max-w-full mx-auto grid grid-cols-2 md:grid-cols-4 gap-6  text-center text-white">

        <div>
            <h1 id="count1" class="text-7xl font-tilt ">0</h1>
            <p >Pelayanan</p>
        </div>

        <div>
            <h1 id="count2" class="text-7xl font-tilt ">0</h1>
            <p>Pelaku Usaha</p>
        </div>

        <div>
            <h1 id="count3" class="md:text-7xl text-6xl font-tilt ">0</h1>
            <p>Kepuasan Pelayanan</p>
        </div>

        <div>
            <h1 id="count4" class="text-7xl font-tilt ">0</h1>
            <p>Konsultan Ahli</p>
        </div>
    </div>
</section>