<section class="relative bg-[#023235] py-7">
    <img src="../assets/img/Clip.png" alt="background"
        class="absolute inset-0 w-full h-full object-cover opacity-30 pointer-events-none" />

    <div class="relative px-9 max-w-6xl mx-auto grid grid-cols-2 md:grid-cols-4 gap-6 font-tilt text-center text-white">
        <div>
            <h1 id="count1" class="text-4xl font-bold">0</h1>
            <p>Pelayanan</p>
        </div>

        <div>
            <h1 id="count2" class="text-4xl font-bold">0</h1>
            <p>Pelaku Usaha</p>
        </div>

        <div>
            <h1 id="count3" class="text-4xl font-bold">0</h1>
            <p>Kepuasan Pelayanan</p>
        </div>

        <div>
            <h1 id="count4" class="text-4xl font-bold">0</h1>
            <p>Konsultan Ahli</p>
        </div>
    </div>
</section>