<section class="w-full h-auto bg-primary ">
  <div class="md:px-20 px-6 py-18 flex flex-col justify-center items-center">
    <h1
      class="md:text-4xl text-2xl text-center font-bold font-lexend text-white"
    >
      Mengapa Produk Anda Harus Tersertifikasi Halal?
    </h1>
  </div>

  <!-- parrent why -->
  <div
    class="w-full bg-Green-100 h-auto lg:px-20 md:px-6 px-4 md:py-2 py-6 lg:rounded-t-[8%] rounded-t-4xl"
  >

  <!-- why Header card -->
    <div>

      <!-- card1 -->
      <div class="bg-darkGray min-w-[50px] max-w-[250px] px-4 py-6 flex justify-center items-center rounded-xl relative ">
        <div class="flex flex-col gap-4 justify-center items-center">
          <img class="flex justify-center items-center scale-120" src="../assets/icon/Muslim.svg" alt="">
          <h1 class="text-xl font-lexend font-bold text-white">Perintah Agama</h1>
        </div>
        <div class=" absolute -bottom-6 inline-block w-0 h-0 border-solid rotate-180 border-t-0 border-r-[25px] border-l-[25px] border-b-[25px] border-l-transparent border-r-transparent border-t-transparent border-b-secondary" ></div>
      </div>

    </div>
  </div> 
</section>
